.skeleton_image{
    width: 100%;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
}

.skeleton__addCart_btn{
    height: 3rem;
    width: 13rem;
}


@media all and (max-width:1024px) {
    .skeleton_image{
        width: 100%;
        height: 14rem;
        border-radius: 10px 10px 0px 0px;
    }
    
    .skeleton__addCart_btn{
        height: 3rem;
        width: 13rem;
    }
}

@media all and (max-width:500px) {
    .skeleton_image{
        width: 100%;
        height: 10rem;
        border-radius: 10px 10px 0px 0px;
    }
    
    .skeleton__addCart_btn{
        height: 2.5rem;
        width: 10rem;
    }
}

@media all and (max-width:300px) {
    .skeleton_image{
        width: 100%;
        height: 8rem;
        border-radius: 10px 10px 0px 0px;
    }
    
    .skeleton__addCart_btn{
        height: 2.5rem;
        width: 10rem;
    }
}